<section id="education" class="mainSection">
    <h2 class="title">Formación</h2>
    <ul>
    @for (item of data; track item) {
        <li class="item">
            <div class="sectionHeader">
                <div class="iconCell">
                    <img src="/assets/icons/school.svg" width="20" [alt]="item.title"/>
                </div>
                <div class="titleCell header">
                    <h3 class="title1">{{ item.title }}</h3>
                </div>
            </div>
            <div class="infoCell">
                <div>
                    <span class="school">{{ item.school }}</span>
                </div>
                <div>
                    <span class="date">{{ item.since }}</span><span class="spacer">-</span><span class="date">{{ item.until }}</span>
                </div>
                <div>{{ item.grade }}</div>
            </div>
        </li>
    }
    </ul>
</section>