
<app-header [data]="cvData?.header"></app-header>

<div class="cvContainer">
    <main>
        <app-personal [data]="cvData?.personal" [path]="path"></app-personal>
        @if (cvData?.experience) {
            <app-experience [data]="cvData?.experience"></app-experience>
        }
        @if (cvData?.expertise) {
            <app-expertise [data]="cvData?.expertise"></app-expertise>
        }
        @if (cvData?.education) {
            <app-education [data]="cvData?.education"></app-education>
        }
        @if (cvData?.certifications) {
            <app-certifications [data]="cvData?.certifications"></app-certifications>
        }
        @if (cvData?.projects) {
            <app-projects [data]="cvData?.projects" [path]="path"></app-projects>
        }
        <div class="bottomSpacer"></div>
    </main>
</div>