
<app-header [data]="cvData?.header"></app-header>

<div class="cvContainer">
    <main>
        <app-personal [data]="cvData?.personal" [path]="path"></app-personal>
        <app-experience [data]="cvData?.experience"></app-experience>
        <app-expertise [data]="cvData?.expertise"></app-expertise>
        <app-education [data]="cvData?.education"></app-education>
        <app-certifications [data]="cvData?.certifications"></app-certifications>
        <div class="bottomSpacer"></div>
    </main>
</div>