<header id="header">
    <nav class="container">
        <h1 class="title">
            <a (click)="scrollTo('header')">{{data?.title}}</a>
        </h1>
        <ul class="middle links">
            @for (item of data?.links| filterBy:['section']:['middle'] ; track item){
                <li class="link"><a (click)="scrollTo(item.href!)">{{ item.text }}</a></li>
            }
        </ul>
        <ul class="end links">
            @for (item of data?.links| filterBy:['section']:['end'] ; track item){
                <li class="link">
                    <a [href]="item.href" target="_blank">
                        <div class="svgLink withFill" [inlineSVG]="item.img!"></div>
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>