.infoCell {
    margin-left: 0px;
    margin-top: 8px;

    display: flex;
}

.picContainer {
    --unit: 50px;

    height: calc(var(--unit) * 3);
    width: calc(var(--unit) * 4);;
    border-radius: 16px;
    overflow: hidden;

    margin-right: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            height: 100%;
            transition: 0.3s;

            &:hover {
                height: calc(var(--unit) * 4);
                transform: rotate(3deg);
                transition: 0.3s;
            }
        }
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 550px;

    .description {
        .subtitle {
            color: var(--secondary);
            font-size: 16px;
        }
    }

    .footer {
        span {
            color: var(--tertiary);
        }
        span:first-child {
            color: var(--secondary);
        }
        span, a {
            margin-right: 16px;
        }
    }
}